<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.story.dao.StOrderMapper">
  <resultMap id="BaseResultMap" type="com.yc.story.bean.StOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="o_time" jdbcType="TIMESTAMP" property="oTime" />
    <result column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="o_status" jdbcType="INTEGER" property="oStatus" />
    <result column="o_amount" jdbcType="REAL" property="oAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, o_time, b_id, u_id, o_status, o_amount
  </sql>
  <select id="selectByExample" parameterType="com.yc.story.bean.StOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from st_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from st_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.story.bean.StOrderExample">
    delete from st_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.story.bean.StOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into st_order (o_time, b_id, u_id, 
      o_status, o_amount)
    values (#{oTime,jdbcType=TIMESTAMP}, #{bId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, 
      #{oStatus,jdbcType=INTEGER}, #{oAmount,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.story.bean.StOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into st_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oTime != null">
        o_time,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="oStatus != null">
        o_status,
      </if>
      <if test="oAmount != null">
        o_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oTime != null">
        #{oTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="oStatus != null">
        #{oStatus,jdbcType=INTEGER},
      </if>
      <if test="oAmount != null">
        #{oAmount,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <!-- 添加订单 -->
  <insert id="insertMyOrder" parameterType="com.yc.story.bean.StOrder">
    insert into st_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oTime != null">
        o_time,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="oStatus != null">
        o_status,
      </if>
      <if test="oAmount != null">
        o_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oTime != null">
        #{oTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="oStatus != null">
        #{oStatus,jdbcType=INTEGER},
      </if>
      <if test="oAmount != null">
        #{oAmount,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.story.bean.StOrderExample" resultType="java.lang.Long">
    select count(*) from st_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update st_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.oTime != null">
        o_time = #{record.oTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bId != null">
        b_id = #{record.bId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.oStatus != null">
        o_status = #{record.oStatus,jdbcType=INTEGER},
      </if>
      <if test="record.oAmount != null">
        o_amount = #{record.oAmount,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update st_order
    set id = #{record.id,jdbcType=INTEGER},
      o_time = #{record.oTime,jdbcType=TIMESTAMP},
      b_id = #{record.bId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      o_status = #{record.oStatus,jdbcType=INTEGER},
      o_amount = #{record.oAmount,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.story.bean.StOrder">
    update st_order
    <set>
      <if test="oTime != null">
        o_time = #{oTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bId != null">
        b_id = #{bId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="oStatus != null">
        o_status = #{oStatus,jdbcType=INTEGER},
      </if>
      <if test="oAmount != null">
        o_amount = #{oAmount,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.story.bean.StOrder">
    update st_order
    set o_time = #{oTime,jdbcType=TIMESTAMP},
      b_id = #{bId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      o_status = #{oStatus,jdbcType=INTEGER},
      o_amount = #{oAmount,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>