<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.story.dao.StUserMapper">
  <resultMap id="BaseResultMap" type="com.yc.story.bean.StUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_tel" jdbcType="VARCHAR" property="uTel" />
    <result column="u_email" jdbcType="VARCHAR" property="uEmail" />
    <result column="tickets" jdbcType="INTEGER" property="tickets" />
    <result column="u_pwd" jdbcType="VARCHAR" property="uPwd" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="u_introduction" jdbcType="VARCHAR" property="uIntroduction" />
    <result column="u_image" jdbcType="VARCHAR" property="uImage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, u_name, u_tel, u_email, tickets, u_pwd, integral, level, u_introduction, u_image
  </sql>
  <select id="selectByExample" parameterType="com.yc.story.bean.StUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from st_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from st_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.story.bean.StUserExample">
    delete from st_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.story.bean.StUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into st_user (u_name, u_tel, u_email, 
      tickets, u_pwd, integral, 
      level, u_introduction, u_image
      )
    values (#{uName,jdbcType=VARCHAR}, #{uTel,jdbcType=VARCHAR}, #{uEmail,jdbcType=VARCHAR}, 
      #{tickets,jdbcType=INTEGER}, #{uPwd,jdbcType=VARCHAR}, #{integral,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{uIntroduction,jdbcType=VARCHAR}, #{uImage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.story.bean.StUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into st_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uName != null">
        u_name,
      </if>
      <if test="uTel != null">
        u_tel,
      </if>
      <if test="uEmail != null">
        u_email,
      </if>
      <if test="tickets != null">
        tickets,
      </if>
      <if test="uPwd != null">
        u_pwd,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="uIntroduction != null">
        u_introduction,
      </if>
      <if test="uImage != null">
        u_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uTel != null">
        #{uTel,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null">
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="tickets != null">
        #{tickets,jdbcType=INTEGER},
      </if>
      <if test="uPwd != null">
        #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="uIntroduction != null">
        #{uIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="uImage != null">
        #{uImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.story.bean.StUserExample" resultType="java.lang.Long">
    select count(*) from st_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update st_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uName != null">
        u_name = #{record.uName,jdbcType=VARCHAR},
      </if>
      <if test="record.uTel != null">
        u_tel = #{record.uTel,jdbcType=VARCHAR},
      </if>
      <if test="record.uEmail != null">
        u_email = #{record.uEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.tickets != null">
        tickets = #{record.tickets,jdbcType=INTEGER},
      </if>
      <if test="record.uPwd != null">
        u_pwd = #{record.uPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.integral != null">
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.uIntroduction != null">
        u_introduction = #{record.uIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.uImage != null">
        u_image = #{record.uImage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update st_user
    set id = #{record.id,jdbcType=INTEGER},
      u_name = #{record.uName,jdbcType=VARCHAR},
      u_tel = #{record.uTel,jdbcType=VARCHAR},
      u_email = #{record.uEmail,jdbcType=VARCHAR},
      tickets = #{record.tickets,jdbcType=INTEGER},
      u_pwd = #{record.uPwd,jdbcType=VARCHAR},
      integral = #{record.integral,jdbcType=INTEGER},
      level = #{record.level,jdbcType=INTEGER},
      u_introduction = #{record.uIntroduction,jdbcType=VARCHAR},
      u_image = #{record.uImage,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.story.bean.StUser">
    update st_user
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uTel != null">
        u_tel = #{uTel,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null">
        u_email = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="tickets != null">
        tickets = #{tickets,jdbcType=INTEGER},
      </if>
      <if test="uPwd != null">
        u_pwd = #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="uIntroduction != null">
        u_introduction = #{uIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="uImage != null">
        u_image = #{uImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.story.bean.StUser">
    update st_user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_tel = #{uTel,jdbcType=VARCHAR},
      u_email = #{uEmail,jdbcType=VARCHAR},
      tickets = #{tickets,jdbcType=INTEGER},
      u_pwd = #{uPwd,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      u_introduction = #{uIntroduction,jdbcType=VARCHAR},
      u_image = #{uImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>